body{
	background: #FFFFFF;
	font-family: Syncopate;
	font-weight: bold;
	color: #000000;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.post {
	padding: 75px;
	border-width:0px;
	border-color:rgba(255, 196, 20, 0.8);
	border-style:solid;
	margin:0px;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 50px;
	margin-left: 25%;
	margin-right: 25%;
}
.title {
	font-size: 450%;
}
.gbtnHollow  {
	background:  transparent;
	font-family: Syncopate;
	height:  42px;
	line-height:  50%;
	border:  2px solid black;
	display:  inline-block;
	float:  none;
	text-align:  center;
	width:  300px;
	padding:  0px!important;
	font-size:  14px;
	color:  #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.gbtnHollow:hover  {
	color:  #000000;
	background:  rgba(0, 0, 0, 0.2);
}
